html{
    margin:-10px;
}
body{
  background-image: url("/public/bgBingo.png");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.register-form {
    max-width: 350px;
    margin: 5% auto;
    margin-top: 12%;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 7px;
    background-color: #b799dc ;
    opacity: 0.9;
  }
  .register-form h1 {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .register-form input {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .register-form input[type="submit"] {
    width: 95%;
    background-color: #b8b8ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .register-form input[type="submit"]:hover {
    background-color: #9381ff;
  }
  