html{
    margin:-10px;
}
body{
  background-color: #f7f7f7;
}

.register-form {
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .register-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .register-form input {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .register-form input[type="submit"] {
    width: 95%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .register-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  