   .chat-app {
    font-family: sans-serif;
    
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(255, 255, 255,0.8);
  }
  
  .chat-title{
    text-align: center;
  }

  .chat-messages {
    list-style: none;
    padding: 0;
    margin: 10px;
    height: 400px;
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    word-wrap: break-word;
    max-width: 65%;
    overflow-wrap: break-word;
    position: relative;
    display: block;
    text-align: justify;
    background-color: #01baef;
  }
  
  .message.right {
    text-align: justify;
    margin-left: 35%;
  }
  
  .sender {
    font-weight: bold;
    display: block;
  }
  
  .text {
    display: inline-block;
  }
  
  .chat-input {
    display: flex;
    margin: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-input button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  