.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-div {
  position: relative;
  display: inline-block;
  margin: 2%;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
