.strike{
    background-color: rgb(223, 103, 103);
}

.game-container {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
}

.game-content{
  width: 60%;
}

.chat-container{
  width: 30%
}

.player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .player {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 10px;
}

  
  .current-player {
    background-color: #ffa500;
  }
.bingo-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  
}

.waiting h2 {
  font-size: 24px;
  text-align: center;
  background-color: rgb(255,255,255,0.7);
  border: 1px solid rgb(92, 92, 92);
  padding: 25px;
  border-radius: 7px;
}
